
header{
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    align-items: center;
    padding: 10px;
    margin-top: -1%;
    margin-left: -8px;
    position: absolute;

}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 75px;
    margin-left: 2px;

}

.logonombre{
    margin-left: 30px;
}

a{
    text-decoration: none;
    color: white;
}
 
.barra{
   font-weight: 600;
   padding-right: 50px;
   font-size: 25px;


}

.barra :hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.nav-link{
    padding-right: 30px;
}

/* FINAL DEL HEADER */

/* Comienzo del cuerpo */

.contenedor{
    display: flex;
    z-index: 2;
    background-color: rgba(85, 85, 85, 0.247);
    position: absolute;
    margin: 200px 400px 0px 400px;
    box-shadow: 5px 10px 50px 5px #000;
}

.cuadro{
    width: 500px;
    height: 400px;
    margin-right: 50px;
    
}

.text{
    font-size: 30px;
    font-family: 'calibri';
    text-align: center;
    margin-right: 35px;
}
 /* Segunda imagen  */

 .contenedor2{
    display: flex;    
    background-color: rgba(85, 85, 85, 0.247);
    /* padding: 25px; */
    position: absolute;
    font-size: 20px;
    margin: 700px 400px 0px 400px;
    box-shadow: 5px 10px 50px 5px #000;
}

.cuadro2{
    width: 600px;
    height: 400px;    
}

.text2{
    font-size: 30px;
    font-family: 'calibri';
    text-align: center;
    margin-right: 35px;
}
 /* Tercer imagen  */

 .contenedor3{
    display: flex;
    background-color: rgba(85, 85, 85, 0.247);
    position: absolute;
    font-size: 20px;
    margin: 1200px 400px 20px 400px;
    box-shadow: 5px 10px 50px 5px #000;
}

.cuadro3{
    width: 600px;
    height: 400px;
    margin-right: 50px;
    
}

.text3{
    font-size: 30px;
    font-family: 'calibri';
    text-align: center;
    margin-right: 35px;

}

footer{
    margin-top: 1800px;
    margin-left: -1%;
    width: 100%;
  
    background-color: rgb(0, 0, 0);
    position: absolute;
    padding: 50px;

    
}

@media screen and (max-width: 1880px) {
    header{
        display: flex;
        font-weight: 10em;
        height: 100px;
        width: 100%;
    }
}

@media screen and (max-width: 1825px) {
    .contenedor{
        display: flex;
        width: 1000px;
        margin-left: 350px;

    }

    .cuadro{
        width: 500px;
        height: 450px;
        position: relative;
    }
    .contenedor2{
        display: flex;
        width: 1000px;
        margin-left: 350px;

    }

    .cuadro2{
        width: 500px;
        height: 450px;
        position: relative;
    }
    .contenedor3{
        display: flex;
        width: 1000px;
        margin-left: 350px;

    }

    .cuadro3{
        width: 500px;
        height: 450px;
        position: relative;
    }

}

@media screen and (max-width: 1670px) {
    header{
        display: flex;
        font-weight: 10em;
        height: 100px;
        width: 100%;
    }
    .contenedor{
        display: flex;
        width: 1000px;
        margin-left: 350px;

    }

    .cuadro{
        width: 500px;
        height: 450px;
        position: relative;
    }

    .contenedor2{
        display: flex;
        width: 1000px;
        margin-left: 350px;

    }

    .cuadro2{
        width: 500px;
        height: 450px;
        position: relative;
    }

    .text2{
        font-size: 28px;
        margin-left: 10px;
        margin-top: 2em;
    }

    .contenedor3{
        display: flex;
        width: 1000px;
        margin-left: 350px;

    }

    .cuadro3{
        width: 500px;
        height: 450px;
        position: relative;
    }

    .text3{
        text-align: center;
        margin-top: 2em;
    }

}

@media screen and (max-width: 1500px){
    .contenedor{
        display: flex;
        width: 800px;
        margin-left: 350px;
        height: 410px;
    }

    .cuadro{
        width:380px;
        height: 410px;
        position: relative;
    }
    .text{
        font-size: 25px;
        margin-left: 5px;
        margin-top: 1em;
    }

    .contenedor2{
        display: flex;
        width: 800px;
        margin-left: 350px;
        height: 390px;

    }

    .cuadro2{
        width:380px;
        height: 390px;
        position: relative;
    }
    .text2{
        font-size: 25px;
        margin-left: 5px;
        margin-top: 1em;
    }

    .contenedor3{
        display: flex;
        width: 800px;
        margin-left: 350px;
        height: 340px;

    }

    .cuadro3{
        width:380px;
        height: 340px;
        position: relative;
    }
    .text3{
        font-size: 25px;
        margin-left: 5px;
        margin-top: 1em;
    }
}

@media screen and (max-width: 1400px){
    .contenedor{
        display: flex;
        width: 800px;
        margin-left: 300px;
        height: 400px;
    }

    .cuadro{
        width:380px;
        height: 400px;
        position: relative;
    }
    .text{
        font-size: 25px;
        margin-left: 5px;
        margin-top: 1em;
    }

    .contenedor2{
        display: flex;
        width: 800px;
        margin-left: 300px;
        height: 400px;

    }

    .cuadro2{
        width:380px;
        height: 400px;
        position: relative;
    }
    .text2{
        font-size: 25px;
        margin-left: 20px;
        margin-top: 1em;
    }

    .contenedor3{
        display: flex;
        width: 800px;
        margin-left: 300px;
        height: 350px;

    }

    .cuadro3{
        width:380px;
        height: 350px;
        position: relative;
    }
    .text3{
        font-size: 25px;
        margin-left: 0px;
        margin-top: 1em;
    }
}


@media screen and (max-width: 1225px){
    .contenedor{
        display: flex;
        width: 800px;
        margin-left: 240px;
        height: 400px;
    }

    .cuadro{
        width:380px;
        height: 400px;
        position: relative;
    }
    .text{
        font-size: 25px;
        margin-left: 5px;
        margin-top: 1em;
    }

    .contenedor2{
        display: flex;
        width: 800px;
        margin-left: 240px;
        height: 400px;

    }

    .cuadro2{
        width:380px;
        height: 400px;
        position: relative;
    }
    .text2{
        font-size: 25px;
        margin-left: 30px;
        margin-top: 1em;
    }

    .contenedor3{
        display: flex;
        width: 800px;
        margin-left: 240px;
        height: 350px;

    }

    .cuadro3{
        width:380px;
        height: 350px;
        position: relative;
    }
    .text3{
        font-size: 25px;
        margin-left: 5px;
        margin-top: 1em;
    }
}

@media screen and (max-width: 1100px){
    .contenedor{
        display: flex;
        width: 800px;
        margin-left: 130px;
        height: 380px;
    }

    .cuadro{
        width:380px;
        height: 380px;
        position: relative;
    }
    .text{
        font-size: 25px;
        margin-left: 5px;
        margin-top: 1em;
    }

    .contenedor2{
        display: flex;
        width: 800px;
        margin-left: 130px;
        height: 380px;

    }

    .cuadro2{
        width:380px;
        height: 380px;
        position: relative;
    }
    .text2{
        font-size: 25px;
        margin-left: 30px;
        margin-top: 1em;
    }

    .contenedor3{
        display: flex;
        width: 800px;
        margin-left: 130px;
        height: 330px;

    }

    .cuadro3{
        width:380px;
        height: 330px;
        position: relative;
    }
    .text3{
        font-size: 25px;
        margin-left: 5px;
        margin-top: 1em;
    }

}

@media screen and (max-width: 992px){
    
    header{
        display: flex;
        font-weight: 10em;
        height: 100px;
        width: 100%;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 50px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 30px;
            font-size: 20px;
        }

        .barra{
            font-weight: 600;
            padding-right: 50px;
            font-size: 20px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width: 730px;
        margin-left: 130px;
        height: 320px;
    }

    .cuadro{
        width:370px;
        height: 320px;
        position: relative;
    }
    .text{
        font-size: 21px;
        margin-left: 2px;
        margin-top: 0.5em;
    }

    .contenedor2{
        display: flex;
        width: 730px;
        margin-left: 130px;
        height: 320px;
    }

    .cuadro2{
        width:370px;
        height: 320px;
        position: relative;
    }
    .text2{
        font-size: 21px;
        margin-left: 25px;
        margin-top: 1em;
    }

    .contenedor3{
        display: flex;
        width: 730px;
        margin-left: 130px;
        height: 300px;
    }

    .cuadro3{
        width:330px;
        height: 300px;
        position: relative;
    }
    .text3{
        font-size: 21px;
        margin-left: 3px;
        margin-top: 2em;
    }

}

@media screen and (max-width: 900px){
    
    header{
        display: flex;
        font-weight: 10em;
        height: 100px;
        width: 100%;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 50px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 30px;
            font-size: 20px;
        }

        .barra{
            font-weight: 600;
            padding-right: 50px;
            font-size: 20px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width: 730px;
        margin-left: 90px;
        height: 320px;
    }

    .cuadro{
        width:370px;
        height: 320px;
        position: relative;
    }
    .text{
        font-size: 21px;
        margin-left: 2px;
        margin-top: 0.5em;
    }

    .contenedor2{
        display: flex;
        width: 730px;
        margin-left: 90px;
        height: 320px;
    }

    .cuadro2{
        width:370px;
        height: 320px;
        position: relative;
    }
    .text2{
        font-size: 21px;
        margin-left: 25px;
        margin-top: 1em;
    }

    .contenedor3{
        display: flex;
        width: 730px;
        margin-left: 90px;
        height: 300px;
    }

    .cuadro3{
        width:330px;
        height: 300px;
        position: relative;
    }
    .text3{
        font-size: 21px;
        margin-left: 3px;
        margin-top: 2em;
    }

}

@media screen and (max-width: 845px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 100px;
        width: 100%;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 50px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 20px;
            font-size: 20px;
        }

        .barra{
            font-weight: 600;
            padding-right: 50px;
            font-size: 18px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width: 730px;
        margin-left: 60px;
        height: 300px;
    }

    .cuadro{
        width:350px;
        height: 300px;
        position: relative;
    }
    .text{
        font-size: 21px;
        margin-left: 2px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width: 730px;
        margin-left: 60px;
        height: 300px;
    }

    .cuadro2{
        width:350px;
        height: 300px;
        position: relative;
    }
    .text2{
        font-size: 21px;
        margin-left: 25px;
        margin-top: 1em;
    }

    .contenedor3{
        display: flex;
        width: 730px;
        margin-left: 60px;
        height: 280px;
    }

    .cuadro3{
        width:330px;
        height: 280px;
        position: relative;
    }
    .text3{
        font-size: 21px;
        margin-left: 3px;
        margin-top: 2em;
    }

}


@media screen and (max-width: 800px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 100px;
        width: 100%;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 50px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 20px;
            font-size: 20px;
        }

        .barra{
            font-weight: 600;
            padding-right: 50px;
            font-size: 18px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width: 730px;
        margin-left: 40px;
        height: 300px;
    }

    .cuadro{
        width:350px;
        height: 300px;
        position: relative;
    }
    .text{
        font-size: 21px;
        margin-left: 2px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width: 730px;
        margin-left: 40px;
        height: 300px;
    }

    .cuadro2{
        width:350px;
        height: 300px;
        position: relative;
    }
    .text2{
        font-size: 21px;
        margin-left: 25px;
        margin-top: 1em;
    }

    .contenedor3{
        display: flex;
        width: 730px;
        margin-left: 40px;
        height: 280px;
    }

    .cuadro3{
        width:330px;
        height: 280px;
        position: relative;
    }
    .text3{
        font-size: 21px;
        margin-left: 3px;
        margin-top: 2em;
    }

}

@media screen and (max-width: 750px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 100px;
        width: 100%;
        margin-top: -20px;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 48px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 20px;
            font-size: 15px;
        }

        .barra{
            font-weight: 600;
            padding-right: 10px;
            font-size: 15px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width: 680px;
        margin-left: 40px;
        height: 300px;
    }

    .cuadro{
        width:320px;
        height: 300px;
        position: relative;
    }
    .text{
        font-size: 20px;
        margin-left: 2px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width: 680px;
        margin-left: 40px;
        height: 280px;
    }

    .cuadro2{
        width:350px;
        height: 280px;
        position: relative;
    }
    .text2{
        font-size: 21px;
        margin-left: 25px;
        margin-top: 0.2em;
    }

    .contenedor3{
        display: flex;
        width: 680px;
        margin-left: 40px;
        height: 260px;
    }

    .cuadro3{
        width:330px;
        height: 260px;
        position: relative;
    }
    .text3{
        font-size: 21px;
        margin-left: 3px;
        margin-top: 1em;
    }

}

@media screen and (max-width: 730px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 100px;
        width: 100%;
        margin-top: -20px;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 48px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 20px;
            font-size: 15px;
        }

        .barra{
            font-weight: 600;
            padding-right: 10px;
            font-size: 15px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width: 650px;
        margin-left: 30px;
        height: 280px;
    }

    .cuadro{
        width:310px;
        height: 280px;
        position: relative;
    }
    .text{
        font-size: 18px;
        margin-left: 2px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width: 650px;
        margin-left: 30px;
        height: 280px;
    }

    .cuadro2{
        width:320px;
        height: 280px;
        position: relative;
    }
    .text2{
        font-size: 19px;
        margin-left: 22px;
        margin-top: 0.2em;
    }

    .contenedor3{
        display: flex;
        width: 650px;
        margin-left: 40px;
        height: 240px;
    }

    .cuadro3{
        width:330px;
        height: 240px;
        position: relative;
    }
    .text3{
        font-size: 18px;
        margin-left: 3px;
        margin-top: 1em;
    }

}

@media screen and (max-width: 670px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 100px;
        width: 100%;
        margin-top: -20px;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 48px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 20px;
            font-size: 15px;
        }

        .barra{
            font-weight: 600;
            padding-right: 10px;
            font-size: 15px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width: 600px;
        margin-left: 30px;
        height: 280px;
    }

    .cuadro{
        width:310px;
        height: 280px;
        position: relative;
    }
    .text{
        font-size: 18px;
        margin-left: 2px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width: 600px;
        margin-left: 30px;
        height: 280px;
    }

    .cuadro2{
        width:320px;
        height: 280px;
        position: relative;
    }
    .text2{
        font-size: 19px;
        margin-left: 22px;
        margin-top: 0.2em;
    }

    .contenedor3{
        display: flex;
        width: 600px;
        margin-left: 40px;
        height: 240px;
    }

    .cuadro3{
        width:330px;
        height: 240px;
        position: relative;
    }
    .text3{
        font-size: 18px;
        margin-left: 3px;
        margin-top: 1em;
    }

}

@media screen and (max-width: 625px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 100px;
        width: 100%;
        margin-top: -20px;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 45px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 20px;
            font-size: 14px;
        }

        .barra{
            font-weight: 600;
            padding-right: 8px;
            font-size: 12px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width: 500px;
        margin-left: 45px;
        height: 260px;
    }

    .cuadro{
        width:270px;
        height: 260px;
        position: relative;
    }
    .text{
        font-size: 15px;
        margin-left: 1px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width: 500px;
        margin-left: 45px;
        height: 260px;
    }

    .cuadro2{
        width:270px;
        height: 260px;
        position: relative;
    }
    .text2{
        font-size: 17px;
        margin-left: 22px;
        margin-top: 0.2em;
    }

    .contenedor3{
        display: flex;
        width: 500px;
        margin-left: 45px;
        height: 240px;
    }

    .cuadro3{
        width:270px;
        height: 240px;
        position: relative;
    }
    .text3{
        font-size: 17px;
        margin-left: 1px;
        margin-top: 1em;
    }

}

@media screen and (max-width: 550px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 100px;
        width: 100%;
        margin-top: -20px;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 45px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 20px;
            font-size: 14px;
        }

        .barra{
            font-weight: 600;
            padding-right: 8px;
            font-size: 12px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width: 500px;
        margin-left: 45px;
        height: 260px;
    }

    .cuadro{
        width:270px;
        height: 260px;
        position: relative;
    }
    .text{
        font-size: 15px;
        margin-left: 1px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width: 500px;
        margin-left: 45px;
        height: 260px;
    }

    .cuadro2{
        width:270px;
        height: 260px;
        position: relative;
    }
    .text2{
        font-size: 17px;
        margin-left: 22px;
        margin-top: 0.2em;
    }

    .contenedor3{
        display: flex;
        width: 500px;
        margin-left: 45px;
        height: 240px;
    }

    .cuadro3{
        width:270px;
        height: 240px;
        position: relative;
    }
    .text3{
        font-size: 17px;
        margin-left: 1px;
        margin-top: 1em;
    }

}

@media screen and (max-width: 480px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 100px;
        width: 100%;
        margin-top: -20px;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 42px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 20px;
            font-size: 12px;
        }

        .barra{
            font-weight: 550;
            padding-right: 1px;
            font-size: 9px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width:400px;
        margin-left: 30px;
        height: 230px;
    }

    .cuadro{
        width:200px;
        height: 230px;
        position: relative;
    }
    .text{
        font-size: 13px;
        margin-left: 1px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width:400px;
        margin-left: 30px;
        height: 210px;
        margin-top: 500px;
    }

    .cuadro2{
        width:210px;
        height: 210px;
        position: relative;
    }
    .text2{
        font-size: 13px;
        margin-left: 30px;
        margin-top: 1em;
    }
    .contenedor3{
        display: flex;
        width:400px;
        margin-left: 30px;
        height: 180px;
        margin-top: 800px;
    }

    .cuadro3{
        width:200px;
        height: 180px;
        position: relative;
    }
    .text3{
        font-size: 13px;
        margin-left: 1px;
        margin-top: 0em;
    }

}

@media screen and (max-width: 415px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 100px;
        width: 100%;
        margin-top: -20px;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 30px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 10px;
            font-size: 8px;
        }

        .barra{
            font-weight: 530;
            padding-right: 1px;
            font-size: 9px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width:380px;
        margin-left: 15px;
        height: 200px;
    }

    .cuadro{
        width:190px;
        height: 200px;
        position: relative;
    }
    .text{
        font-size: 11px;
        margin-left: 1px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width:380px;
        margin-left: 15px;
        height: 200px;
        margin-top: 500px;
    }

    .cuadro2{
        width:190px;
        height: 200px;
        position: relative;
    }
    .text2{
        font-size: 11px;
        margin-left: 30px;
        margin-top: 1em;
    }
    .contenedor3{
        display: flex;
        width:380px;
        margin-left: 15px;
        height: 170px;
        margin-top: 800px;
    }

    .cuadro3{
        width:220px;
        height: 170px;
        position: relative;
    }
    .text3{
        font-size: 11px;
        margin-left: 1px;
        margin-top: 1em;
    }

}

@media screen and (max-width: 375px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 100px;
        width: 100%;
        margin-top: -20px;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 28px;
            margin-left: 2px;
        
        }
        
        .logonombre{
            margin-left: 8px;
            font-size: 7px;
        }

        .barra{
            font-weight: 520;
            padding-right: 0.5px;
            font-size: 8px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width:320px;
        margin-left: 15px;
        height: 160px;
    }

    .cuadro{
        width:150px;
        height: 160px;
        position: relative;
    }
    .text{
        font-size: 9px;
        margin-left: 0px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width:320px;
        margin-left: 15px;
        height: 150px;
        margin-top: 450px;
    }

    .cuadro2{
        width:160px;
        height: 150px;
        position: relative;
    }
    .text2{
        font-size: 9px;
        margin-left: 40px;
        margin-top: 1em;
    }
    .contenedor3{
        display: flex;
        width:320px;
        margin-left: 15px;
        height: 150px;
        margin-top: 700px;
    }

    .cuadro3{
        width:180px;
        height: 150px;
        position: relative;
    }
    .text3{
        font-size: 9px;
        margin-left: 0px;
        margin-top: 0em;
    }

}


@media screen and (max-width: 280px){
    
    header{
        display: flex;
        font-weight: 5em;
        height: 70px;
        width: 100%;
        margin-top: -20px;
    }


        .logo{
            display: flex;
            align-items: center;
        }
        
        .logo-img{
            height: 25px;
            margin-left: 1px;
        
        }
        
        .logonombre{
            margin-left: 8px;
            font-size: 6px;
        }

        .barra{
            font-weight: 500;
            padding-right: 0px;
            font-size: 4.2px;
         }

        /* final header  */
    


    .contenedor{
        display: flex;
        width:270px;
        margin-left: 5px;
        height: 140px;
        margin-top: 150px;
    }
    .cuadro{
        width:140px;
        height: 140px;
        position: relative;
    }
    .text{
        font-size: 6px;
        margin-right:35px;
        margin-top: 0em;
    }

    .contenedor2{
        display: flex;
        width:270px;
        margin-left: 5px;
        height: 140px;
        margin-top: 350px;
    }

    .cuadro2{
        width:155px;
        height: 140px;
        position: relative;
    }
    .text2{
        font-size: 6px;
        margin-left: 40px;
        margin-top: 1em;
    }
    .contenedor3{
        display: flex;
        width:270px;
        margin-left: 5px;
        height: 120px;
        margin-top: 550px;
    }

    .cuadro3{
        width:140px;
        height: 120px;
        position: relative;
    }
    .text3{
        font-size: 6px;
        margin-left: 0px;
        margin-top: 2em;
    }

}


/* footer */
.footer {
    z-index: 4;
  }
  
  .footer.background-color-black {
    z-index: 2;
    background-color: #141414;
    position: relative;
  }
  
  .background-gradient-1 {
    z-index: -2;
    width: 100%;
    height: 130%;
    position: absolute;
    top: -13%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .padding-footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .footer-right {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    display: flex;
  }
  
  .footer-links {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: column;
    display: flex;
  }
  
  .footer-form {
    height: 100%;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: row;
    display: flex;
  }
  
  .footer-last {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: column;
    display: flex;
  }
  
  .text-field {
    width: 15rem;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 100px;
  }
  
  .divider {
    height: 1px;
    background-color: #3f3f3f;
  }
  
  .logo-component {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    display: flex;
  }
  
  .tooltip_component {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .tooltip {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: absolute;
    top: -1%;
    left: 31%;
    right: 0%;
  }
  
  .tooltip._2 {
    top: auto;
    bottom: 27%;
    left: 22%;
    right: auto;
  }
  
  .tooltip._3 {
    top: auto;
    bottom: 21%;
    left: auto;
    right: 7%;
  }
  
  .tooltip._4 {
    top: 21%;
    bottom: auto;
    left: 37%;
    right: auto;
  }
  
  .tooltip._5 {
    top: 8%;
    bottom: auto;
    left: auto;
    right: 22%;
  }
  
  .bicycle_white-img {
    width: 100%;
    height: 100%;
  }
  
  .lottie {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
  }
  
  .tooltip-info {
    background-color: #1b1b1b;
    border: 1px solid #f7a61c;
    border-radius: 15px;
    padding: 1.5rem 2rem;
  }
  
  .footer_link {
    color: #c6c6c6;
    text-decoration: none;
  }
  
  .footer-link_component {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    flex-direction: row;
    display: flex;
  }
  