@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:#3d4957;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: #313542;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: aqua;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
    /* background-color: #8a8a8a; */
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
    font-weight: 600;
}

.tex :hover{
    color: #2fb4cc;
}
#menu{
     display: none;
}

.menu-icono{
    width: 25px;
}
.menu.label{
    cursor: pointer;
    display: none;
}

.header-txt{
    text-align: center;
    padding: 0 150px;
}
.header-txt h1{
    font-size: 55px;
    line-height: 1;
    color: #ffffff;
    margin-bottom: 25px;
}
span{
    color: rgb(255, 238, 0);

}
p{
    font-size: 17px;
    color: rgb(255, 255, 255);
    margin-bottom: 35px;
}
.butons{
    display: flex;
    justify-content: center;
}
.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background: black;
    color: #FFF;
    margin: 0 15px;
}
.btn-1:hover{
    background: #FFF;
    color: black;
}
.information{
    display: flex;
    justify-content: space-between;
    padding: 1 100px;
    margin-top: -70px;
}
.information-1{
    margin: 0 10px;
    background:#FFF;
    padding: 15px;
    border-radius: 15px;
    color: #FFF;
}

.information-1 h3{
    color:black;
    font-size: 18px;
}

.information-1 p{
    margin-bottom: 5px;
    color: gray;
}

.information-1 a{
    color: #000000;
}
.information-1 a:hover{
    color: rgb(40, 54, 54);
}
.information-1:hover{
    cursor: pointer;
  /* background-color: #000000;
  color: #ff0000; */
}

.about{
    padding: 120px 0;
    display: flex;
    align-items: center;
}
.about-img{
    flex-basis: 50%;
}
.about-img img{
    width: 500px;
    border-radius: 15px;
}
.about-txt{
    flex-basis: 50%;
}
h2{
    font-size: 40px;
    color: #FDFEFF;
    line-height: 1.4;
    margin-bottom: 15px;
}
.about-txt a{
    margin: 0;
}
.intro{
    color: #ffffff;
    font-size: 15px;
}

.services{
    padding: 0 0 120px 0;
    text-align: center;
}
.services-content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.services-1{
    background-color: #212129ef;;
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-1:hover{
  background-color: transparent;
    cursor: pointer;
 }
 .image{
    width: 100%;
    transition: 2s;
 }

 .services-1:hover img{
    transform: scale(1.2);
 }
 .services-1:hover {
    transform: scale(1.2);
    transition: 2s;
 }
 
 

.services-1 h3{
    color: #FDFEFF;
    margin-bottom: 15px;
} 

.container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.hor{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.brr{
    width: 100%;
    display: flex;
    max-width: 1100px;
}

.price{
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.price:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.price img{
    width: 100%;
    height: 210px;
}
.price .price-1{
    padding: 15px;
    text-align: center;
}
.price .price-1 p{
line-height: 1.5;
color: #6a6a6a;
}
.price .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;

}
.price .price-1 a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
color: #2fb4cc;
border: 1px solid #2fb4cc;
border-radius: 4px;
transition: all 400ms ease;
}
.price .price-1 a:hover{
background:#2fb4cc ;
color: white;
}



/* entrenadore */

/* .container__cards{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;
}
.card:hover{
    width: 350px;
}
.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.card .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}
.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}
.card:nth-of-type(1) .img__back{
    background-image: url();
}
.card:nth-of-type(2) .img__back{
    background-image: url();
}
.card:nth-of-type(3) .img__back{
    background-image: url();
}
.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}
.card:hover .description{
    padding: 40px;
}
.card .description h2{
    margin-top: 10px;
}
.card .description p{
    margin-top: 10px;
}
.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #687CEF;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}
.card .description input:hover{
    background: purple;
} */



/* antes de yo */

 /* .price{
    padding: 0 0 120px 0;
    text-align: center;
}
.price-content{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}
.price-1{
    flex-basis: calc(33.3% - 20px);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    padding: 40px;
    border-radius: 15px;
}

.pack{
    color: #FDFEFF;
    font-weight: 600;
    margin-bottom: 10px;
}

.price-1 h3{
    color: #FDEFFF;
    font-size: 70px;
}
.bg-pack{
    background: linear-gradient(
        rgba(37, 118, 250,1) 0%
        rgba(84,115,237,1) 100%
    );
}
.pack-center{
    color: #FDFEFF;
}
.price-1 li{
    color: #FDFEFF;
    margin-bottom: 15px;
} */


/* footer */



.footer{
    background-color: #151521;
    padding: 50px 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.link h3{
    color: #FDFEFF;
    font-size: 18px;
    margin-bottom: 10px;
}
.link a{
    color: #FDFEFF;
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
}
.link a:hover{
    color: #687CEF;

} 


@media(max-width: 991px){
    .menu{
        padding: 20px;
    }
    .menu label{
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #000000;
        display: none;
    }
    .menu .navbar ul li a:hover{
        color: #e0e0e0;
    }
    .menu .navbar ul li{
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    }
    .header{
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }
    .header-txt{
        padding: 0;
    }
    .header-txt h1{
       font-size: 45px; 
    }
    .butons{
        flex-direction: column;
        padding: 0 50px;
    }
    .btn-1{
        margin: 0 0 20px 0;
    }
    .information{
        margin-top: 0;
        padding: 30px;
        flex-direction: column;
    }
    .information-1{
        margin: 0 0 20px 0;
    }
    .about{
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }
    .about-txt{
        text-align: center;
        margin-bottom: 30px;
    }
    .about-img{
        order: 1;
    }
    .services{
        padding: 0 30px 30px 30px;
    }
    .services-content{
        margin-top: 30px;
        grid-template-columns: repeat(1 , 1fr);
    }
    .hor{
        padding: 30px;
    }
    .brr{
        flex-direction: column;
    }
    .price-1{
        margin-bottom: 30px;
    }
    .footer{
        padding: 30px;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
    .link{
        margin-bottom: 10px;
    }
}