@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #1E202D;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color:#12121C;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: aqua;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #FFFF;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover{
    color: aquamarine;
}
#menu{
     display: none;
}

.menu-icono{
    width: 25px;
}
.menu.label{
    cursor: pointer;
    display: none;
}

.header-txt{
    text-align: center;
    padding: 0 150px;
}
.header-txt h1{
    font-size: 55px;
    line-height: 1;
    color: #FFF;
    margin-bottom: 25px;
}
span{
    color: antiquewhite;

}
p{
    font-size: 17px;
    color: bisque;
    margin-bottom: 35px;
}
.butons{
    display: flex;
    justify-content: center;
}
.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background: linear-gradient(
        90deg,
        rgba(37, 118, 250,1) 0%
        rgba(84,115,237,1)100%
    );
    color: #FFF;
    margin: 0 15px;
}
.information{
    display: flex;
    justify-content: space-between;
    padding: 1 100px;
    margin-top: -70px;
}
.information-1{
    margin: 0 10px;
    background: linear-gradient(
        rgba(84, 105, 210,1) 0%
        rgba(35,43,88,1) 68%
    );
    padding: 15px;
    border-radius: 15px;
}

.information-1 h3{
    color: #FDFEFF;
    font-size: 18px;
}
.information-1 p{
    margin-bottom: 5px;
}

.information-1 a{
    color: #FDFEFF;
}
.information-1:hover{
    cursor: pointer;
    background: linear-gradient(
        90deg,
        rgba(37, 118, 250,1) 0%
        rgba(84,115,237,1)100%
    );
}

.about{
    padding: 120px 0;
    display: flex;
    align-items: center;
}
.about-img{
    flex-basis: 50%;
}
.about-img img{
    width: 500px;
    border-radius: 15px;
}
.about-txt{
    flex-basis: 50%;
}
h2{
    font-size: 40px;
    color: #FDFEFF;
    line-height: 1.4;
    margin-bottom: 15px;
}
.about-txt a{
    margin: 0;
}
.intro{
    color: #687CEF;
    font-size: 15px;
}

