header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    padding: 13px;
    margin-top: -47%;
    margin-left: -8px;
    position: absolute;

}

.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 80px;
    margin-left: 2px;

}

.logonombre{
    margin-left: 30px;
    color: #fff;
}

a{
    text-decoration: none;
    color: white;
}
 
.barra{
   font-weight: 600;
   padding-right: 70px;
   font-size: 25px;
   align-items: center;


}

.barra :hover{
    color: rgba(0, 0, 0, 0.712);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.nav-link{
    padding-right: 30px;
    color: #fff;
}
/* cierre de cabezera */
/* comiezo cuerpo */

.contenedor{
    display: flex;
    margin-top: 200px;
    z-index: 2;
    background-color: rgba(85, 85, 85, 0.247);
    padding: 25px;
    position: absolute;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 5px 10px 50px 5px #000;
}

.cuadro{
    width: 500px;
    height: 400px;
    margin-right: 50px;
    
}

.text{
    font-size: 30px;
    font-family: 'calibri';
    text-align: center;
    margin-right: 35px;
}
 /* Segunda imagen  */

 .contenedor2{
    display: flex;
    margin-top: 700px;
    z-index: 3;
    background-color: rgba(85, 85, 85, 0.247);
    padding: 25px;
    position: absolute;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 5px 10px 50px 5px #000;
}

.cuadro2{
    width: 600px;
    height: 400px;
    margin-right: 50px;
    
}

.text2{
    font-size: 30px;
    font-family: 'calibri';
    text-align: center;
    margin-right: 35px;
}
 /* Tercer imagen  */

 .contenedor3{
    display: flex;
    margin-top: 1200px;
    z-index: 4;
    background-color: rgba(85, 85, 85, 0.247);
    padding: 25px;
    position: absolute;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 20px;
    box-shadow: 5px 10px 50px 5px #000;
}

.cuadro3{
    width: 600px;
    height: 400px;
    margin-right: 50px;
    
}

.text3{
    font-size: 30px;
    font-family: 'calibri';
    text-align: center;
    margin-right: 35px;

}
