header{
    display: flex;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    background-color: black;
    color: white;
    align-items: center;
    padding: 13px;
    margin-top: -47%;
    margin-left: -8px;
    position: absolute;

}
.logo{
    display: flex;
    align-items: center;
}

.logo-img{
    height: 80px;
    margin-left: 2px;

}

.logonombre{
    margin-left: 30px;
}

a{
    text-decoration: none;
    color: white;
}
 
.barra{
   font-weight: 600;
   padding-right: 70px;
   font-size: 25px;
   align-items: center;


}

.barra :hover{
    color: rgba(0, 0, 0, 0.712);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.nav-link{
    padding-right: 30px;
}
/* cierre de cabezera */


/* encabezado 2 */


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;

}

ul li{
    display: inline-block;
    padding: 0px 24px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover{
    color: rgb(255, 255, 255);}

/* cartas */

.cartas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
 
    justify-content: center;
    min-height: 100vh;
    background: rgb(255, 255, 255);
    
}

.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20PX;

}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 16px;
    overflow: hidden;
    transition: .5s;
    
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: black;
    background: white;
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: blue;
    padding: 15px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}

.card .back .link{
    border-top: solid 1px aliceblue;
    height: 50px;
}

.card .back .link a{
color: #f3f3f3;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;

}

.card .back p{
 letter-spacing: 1px;

}

.card:hover .front{
transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
    }

    /* footer */

    footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        left:   0;
        padding: 2rem 8%;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    
    }
    .imagenul{
        height: 110px;
        margin-bottom: 1rem;
    }
    .social-icons-container, .footer-menu-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
    }
    
    .social-icon{
        height: 50px;
        width: 50px;
        border-radius: 50px;
        border: 1px solid aliceblue;
        background-image: url(../ENTRENADOR/imagenese/WhatsApp.svg.webp);
        background-position: center;
        background-size: 50%;
        background-repeat: no-repeat;
        margin: 1rem;
    
    }
    .social-icon:hover{
        background-color: rgb(17, 255, 255);
        filter: invert(1);
    }
    .social-icon:nth-of-type(2){
        background-image: url(../ENTRENADOR/imagenese/face.png) ;
    }
    
    .social-icon:nth-of-type(3){
        background-image: url(../ENTRENADOR/imagenese/twi.jpg) ;
    }
    
    .social-icon:nth-of-type(4){
        background-image: url(../ENTRENADOR/imagenese/youtube.png) ;
    }
    .footer-menu-container{
        list-style-type: none;
        color: aliceblue;
        font-size: 18px;
    }
    .menu-item{
        margin: 1rem 1.5rem;
        cursor: pointer;
        opacity: 0.6;
    }
    .menu-item:hover{
        opacity: 1;
    }
    .copyright{
        color: aliceblue;
        opacity: 0.3;
        text-align: center;
    }
    






